<div *ngIf="loading || error" class="pokemon-detail margin-top">
  <div *ngIf="loading">Loading</div>
  <div *ngIf="error">Error : {{ error }}</div>
</div>

<div *ngIf="pokemon" class="pokemon-detail">
  <h1>{{ pokemon.name }}</h1>
  <div class="img-stat">
    <img [src]="pokemon.image" />
    <div class="">
      <h2>Stats:</h2>
      <ul>
        <li *ngFor="let state of pokemon.stats">
          <em>{{ state.stat.name }}</em> :
          <span>{{ state.base_stat }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
